body {
    text-align: center;
}

hr {
    width: 500px;
}

.start-btn {
    width: 100px;
    height: 50px;
    background-color: lightgrey;

    display: inline-block;
    justify-content: center;
    align-items: center;
}

.solve-btn {
    width: 100px;
    height: 50px;
    background-color: lightgrey;
    margin: 0 auto;

    display: inline-block;
    justify-content: center;
    align-items: center;
}

#errors {
    color: coral;
}

#grid {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: grey;
}

.label {
    display : block;
    width: 400px;
}
.label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.label > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.label > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #ffd6bb;
    border: 1px solid #ff6600;
}